/*
date:2012/2/7
author:tgoooo
*****************/

/*
common
***********/
body{color:#444;font-size:13px;font-family:Verdana,Helvetica,Arial,sans-serif;text-align:center;margin:0;background:#f9f9f9;}
ul{list-style-type:none;margin:0;padding:0}
a{text-decoration:none;}
a:link{color:#669900;}
a:visited{color:#669900;}
a:hover{color:#6FBD00;text-decoration:underline;}
h1,h2,h3,h4,h5{margin:0;padding:0;text-align:left;display:block;}
h3{font-size:13px;}
.container{width:960px;margin:0 auto;text-align:left;}
.clear{overflow:hidden;height:20px;width:100%;}
.clear0{overflow:hidden;height:0px;width:100%;clear:both;}
img{border:0;}
input,textarea{background:url(../images/bg_input.png) no-repeat 0 0;border:1px #ccc solid;}
p{margin:0;padding:0;line-height:22px;word-break:break-all}
form{margin:0;}


textarea{padding:5px;overflow-y:auto}
.b{border:1px #ccc solid;}
.fl{float:left;}
.fr{float:right;}

.submit,.button{font-size:14px;}
.submit{background:url(../images/icons_form.png) no-repeat 0 -50px;_background:url(../images/icons_form.jpg) no-repeat 0 -50px;border:none;width:120px;height:42px;line-height:42px;color:#fff;}


.button{background:url(../images/icons_form.png) no-repeat 0 -150px;_background:url(../images/icons_form.jpg) no-repeat 0 -150px;border:none;width:120px;height:42px;line-height:42px;color:#fff;color:#666;}
.button:hover{background:url(../images/icons_form.png) no-repeat 0 -100px;_background:url(../images/icons_form.jpg) no-repeat 0 -100px;}

.small_button,.small_button_hover{width:85px;height:30px;padding:0;line-height:30px;border:none;color:#fff;font-size:14px;}
.small_button{background:url(../images/common/icons_dialog.png) no-repeat 0 0;}
.small_button_hover{background:url(../images/common/icons_dialog.png) no-repeat 0 -40px;}

.little_button{width:77px;height:27px;line-height:27px;font-size:14px;text-align:center;}
.little_button{background:url(../images/space/icons_space.png) no-repeat 0 -200px;color:#fff;}
.little_button:hover{background:url(../images/space/icons_space.png) no-repeat 0 -230px;}
/*
header
***********/
.header_bg{width:100%;border-bottom:1px #D7D7D7 solid;border-top:4px #85CF28 solid;background:url(../images/bg_t.png) repeat-x 0 -3px;}

	#header{margin:0 auto;width:960px;height:60px;}
	#header h1{float:left;margin-top:7px;margin-right:20px;}
	#header h1 img{margin-left:10px;}
	#header #menu{margin:0;float:left;width:450px;height:100%;overflow:hidden;}
	#header #menu li{padding:14px 30px 14px 30px;float:left;border-left:1px #eee solid;border-right:1px #fff solid;font-size:14px;text-align:left;}
	#header #menu li span{color:#999;font-size:12px;line-height:20px;}
	
    .mycount{width:300px;height:100%;position:relative;z-index:999;}
    .mycount .warm_box{position:absolute;width:80px;height:26px;top:45px;left:96px;z-index:9999;}
    .mycount .warm_box img{}
    .mycount .my_avatar{float:right;border:1px #e1e1e1 solid;background:#fff;padding:2px;margin:8px 0 0 0;width:36px;}
    .mycount .mymenu{width:240px;float:right;}
    .mycount .mymenu li{float:left;line-height:60px;padding:0 0 0 10px;position:relative;}
    .mycount .mymenu .droptab{padding:0 30px 0 15px;cursor:pointer;z-index:99999;background:url(../images/common/icons_dialog.png) no-repeat 48px -223px;z-index:9999;}
    .mycount .mymenu .my_cur{border:1px #999 solid;_border-top:none;border-bottom:none;background:#fff;padding:0 29px 0 14px;
                     -moz-box-shadow: 0px 2px 3px #908B8B;
                    -webkit-box-shadow: 0px 2px 3px #908B8B;
                    box-shadow: 0px 2px 3px #908B8B;background:url(../images/common/icons_dialog.png) no-repeat 48px -223px;
    }
    .mycount .mymenu .droptab .dropmenu{position:absolute;z-index:999999;top:60px;left:-1px;width:110px;background:#fff;border:1px #908B8B solid;border-top:1px #ccc solid;padding:0;
                                 -moz-box-shadow: 0px 2px 3px #908B8B;
    -webkit-box-shadow: 0px 2px 3px #908B8B;
    box-shadow: 0px 2px 3px #908B8B; filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#e1e1e1');
                            }
    .mycount .mymenu li .dropmenu li{line-height:26px;padding:0;}
    .mycount .mymenu li .dropmenu .divide{border-bottom:1px #E1DFDF solid;padding-bottom:6px;}
    .mycount .mymenu li .dropmenu .divide2{padding-top:6px;}
    .mycount .mymenu li .dropmenu li a{color:#221919;display:block;width:93px;padding:4px 4px 4px 13px;text-align:left;}
    .mycount .mymenu li .dropmenu li a:hover{text-decoration:none;background:#E1DFDF;}
    .mycount .new_nav{float:right;line-height:60px;}
    .mycount .new_nav li{float:left;font-size:14px;padding:0 10px 0 10px;}
    
    .header_shadow{border-top:2px #EEE solid;overflow:hidden;height:0;width:100%;clear:both;}
    
    
/*
boxs
******/
.mainbox{width:690px;}
.sidebox{width:250px;}
	
/*
footer
**********************/
.footer_shadow{border-top:2px #f2f2f2 solid;border-bottom:1px #D7D7D7 solid;overflow:hidden;height:0;clear:both;}
#footer_bg{width:100%;overflow:hidden;padding-top:30px;background:url(../images/bg_index.png) repeat-x 0 -248px #f2f2f2;border-top:1px #fff solid;border-bottom:1px #D7D7D7 solid;}
.col{width:320px;}
	.col h3{font-size:14px;color:#666;padding:4px 0 4px 30px;background:url(../images/icons_index.png) no-repeat 0 -559px;}

	.col .list{padding-bottom:20px;padding-top:10px;line-height:28px;}
	
	
	.col .tags{padding-bottom:20px;line-height:28px;padding-top:10px;}
	.col .tags li{display:inline;padding-right:20px;}
	
	.col .other{background:#E1E1E1;border-radius:4px 4px;padding:13px;padding-left:50px;margin:0 0 20px 40px;color:#666;}

	.col .other a{color:#444;}
	.col .weibo{background:url(../images/icons_index.png) no-repeat 5px -280px #E1E1E1;_background:url(../images/icons_index.gif) no-repeat 5px -280px #E1E1E1;}
	.col .join{background:url(../images/icons_index.png) no-repeat 7px -326px #E1E1E1;_background:url(../images/icons_index.gif) no-repeat 7px -326px #E1E1E1;}
	.col .contact{background:url(../images/icons_index.png) no-repeat 5px -380px #E1E1E1;_background:url(../images/icons_index.gif) no-repeat 5px -380px #E1E1E1;}
	.col .about{background:url(../images/icons_index.png) no-repeat 5px -430px #E1E1E1;_background:url(../images/icons_index.gif) no-repeat 5px -430px #E1E1E1;}
	

#footer{clear:both;text-align:center;line-height:40px;height:40px;font-size:12px;color:#666;border-top:1px #fff solid;background:#f2f2f2;}
#footer a{margin-right:10px;}

/*common*/
.t_slide_menu{border:1px #ccc solid;background:#fff;width:140px;overflow:hidden;position:absolute; left:50%;-moz-box-shadow: 0px 2px 3px #908B8B;
                    -webkit-box-shadow: 0px 1px 3px #e1e1e1;
                    box-shadow: 0px 1px 3px #e1e1e1; filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#e1e1e1'); }
    .slide_ul_1{padding:5px 0;}
    .slide_ul_1 li{text-align:left;}
    .slide_ul_1 li a{display:block;width:130px;padding:8px 0 8px 10px;color:#444;text-decoration:none;}
    .slide_ul_1 li a:hover{background:#f2f2f2;}

#warm_dialog{border-radius:4px 4px;width:300px;overflow:hidden;left:50%;top:50%;position:absolute;padding:6px;z-index:999;background:url(../images/space/bg_dialog.png) repeat 0 0;}
#warm_dialog .box{background:#fff;border:1px solid;}
#warm_dialog .box #t_content{text-align:left;padding:20px 10px 20px 60px;line-height:22px;}
    #warm_dialog .box .ok{background:url(../images/icons_dialog.gif) no-repeat 20px -83px;}
    #warm_dialog .box .no{background:url(../images/icons_dialog.gif) no-repeat 20px -183px;}
    #warm_dialog .box #t_bottom{height:40px;width:100%;background:url(../images/icons_dialog.gif) repeat-x 0 -341px;text-align:right;}
    #warm_dialog .box #t_bottom .submit{width:100px;height:30px;line-height:30px;background:#66CC00;border:1px #669900 solid;padding:0;float:right;margin:5px 5px 0 0;}

/*hover pop*/
.preview{position:absolute;z-index:99;right:0px;top:30px;width:340px;padding:5px;background:url(../images/common/opacity_bg.png) 0 0;border-radius:4px;}
    .preview .a_l_t,.a_r_t{width:21px;height:17px;background:url(../images/common/opacity_arrow.png) no-repeat 0 0;}
    .preview .a_l_b,.a_r_b{width:21px;height:17px;background:url(../images/common/opacity_arrow2.png) no-repeat 0 0;}
    .preview .a_l_t{position:absolute;left:30px;top:-11px;}
    .preview .a_r_t{position:absolute;right:30px;top:-11px;}
    .preview .a_l_b{position:absolute;left:30px;bottom:-11px;}
    .preview .a_r_b{position:absolute;right:30px;bottom:-11px;}
    .preview .pre_box{background:#fff;border:1px #c0c0c0 solid;text-align:left;overflow:hidden;}
    
    .pegg{height:150px;overflow:hidden;}
        .ptitle{margin:5px 15px 5px 15px;font-size:14px;font-weight:normal;line-height:30px;}
        .pcontent{padding:10px 15px 15px 15px;border-top:1px #eee solid;line-height:22px;border-bottom:1px #e1e1e1 solid;}
        .pbottom{padding:10px 15px 10px 15px;background:#f9f9f9;border-top:1px #fff solid;font-size:14px;}
        .pbottom span{cursor:pointer;margin-right:15px;}
        
    .puser{height:130px;overflow:hidden;}
        .pavatar{float:left;width:90px;height:80px;margin:10px 0 10px 10px;display:inline;}
        .pavatar img{width:80px;height:80px;}
        .pinfo{float:right;width:220px;height:80px;margin:10px 10px 10px 0;}
        .pinfo .name{font-size:14px;color:#669900;}
        .pinfo p{line-height:20px;padding-top:4px;}
        .ppoint{clear:both;background:#f9f9f9;border-top:1px #e1e1e1 solid;height:28px;line-height:28px;padding-left:10px;}
        .ppoint span{color:#669900;}
        .ppoint span{margin-right:15px;}
