.topic_box{border:1px #D7D7D7 solid;background:#fff;overflow:hidden;text-align:left;background:url(../images/cate/bg_menu_project.png) repeat-y 0px 0 #fff;}
.con_shadow{border:2px #f2f2f2 solid;width:980px;margin:0 auto;}

.author{width:165px;overflow:hidden;height:100%;border-top:1px #fff solid;border-left:1px #fff solid;}
	.author .avatar{text-align:center;border-bottom:1px #e1e1e1 solid;padding-top:20px;}
	.author .avatar .pic{width:115px;border:1px #e1e1e1 solid;padding:4px;margin:0 auto;background:#fff;}
	.author .avatar .name{font-size:14px;margin:0 auto;display:block;padding:10px;}
	
.support{text-align:left;padding:15px 15px 15px 44px;margin-right:2px;cursor:pointer;border-top:1px #fff solid;border-bottom:1px #e1e1e1 solid;background:url(../images/eggs/icons_egg.gif) no-repeat 24px -272px}
.support span{background:#FF9900;color:#fff;padding:0 5px 0 5px;margin-left:10px;border-radius:2px;}
.support_hover{background:url(../images/eggs/icons_egg.gif) no-repeat 24px -272px #f9f9f9;}

.content_box{width:810px;height:100%;background:#fff;position:relative;}
	.content_box .jt{position:absolute;left:-17px;top:60px;width:15px;height:30px;background:url(../images/eggs/icons_egg.gif) no-repeat 0 -230px;}
	.content{padding:15px;font-size:14px;}
	.content ol{line-height:24px;}
	.content ul{line-height:24px;}
	.content h2{clear:both;border-bottom:1px #eee solid;padding:10px 0 15px 0;}
	.content p{padding:10px 0 10px 0;font-size:14px;}
	.content .summary{border:1px #e1e1e1 solid;padding:15px;background:url(../images/eggs/icons_egg.gif) no-repeat 600px -146px #f9f9f9;}
	.list{border-top:1px #eee solid;padding-top:15px}
		.list .person{padding:0 15px 15px 15px;}
		.list .person li{display:inline;padding-right:10px;}
	.rainbow{border-top:1px #ccc solid;}
	.rainbow .bow{height:22px;line-height:22px;float:left;color:#fff;text-align:center;}
	.rainbow .ca{background:#87D02A}
	.rainbow .cd{background:#FFCC00}
	.rainbow .cp{background:#3399CC}
	
.group_box{width:311px;overflow:hidden;border-bottom:1px #e1e1e1 solid;border-right:1px #eee solid;border-left:1px #eee solid;background:url(../images/bg_t.png) repeat-x 0 -88px #fff;}
	.ml22{margin-left:20px;}
	.active{border-top:2px #87D02A solid;}
	.disagree{border-top:2px #FFCC00 solid;}
	.passby{border-top:2px #3399CC solid;}
	.group_name{padding:10px 10px 10px 10px;overflow:hidden;border-right:1px #D9D4D4 solid;border-left:1px #D9D4D4 solid;}
	.group_name .name{float:left;width:70px;height:24px;}
	.group_name .name1{background:url(../images/eggs/icons_egg.gif) no-repeat -2px -48px;}
	.group_name .name2{background:url(../images/eggs/icons_egg.gif) no-repeat -2px -78px;}
	.group_name .name3{background:url(../images/eggs/icons_egg.gif) no-repeat -2px -108px;}
	.group_name .c1{color:#87D02A;}
	.group_name .c2{color:#FFCC00;}
	.group_name .c3{color:#3399CC;}
	.group_name .gitem{margin-left:15px;float:right;}
	.group_name .sitem{background:#f2f2f2;border:1px #e1e1e1 solid;padding:4px 10px 4px 10px;cursor:pointer;}
		
	/*comments*/
	.list_box{padding:0;}
	.dis{clear:both;background:#F7F6F6;border-top:1px #eee solid;border-left:1px #D9D4D4 solid;border-right:1px #D9D4D4 solid;}
	.dis li{border-bottom:1px #D9D4D4 solid;border-top:1px #fff solid;padding:10px 0 0 10px;overflow:hidden;}
	.dis li:hover{background:#fff;}
	.dis_box{overflow:hidden;clear:both;width:100%;}
	.dis_reply{padding:10px 0 10px 0;border-bottom:1px #fff solid;border-top:1px #e1e1e1 solid;}
	.dis_box .avatar{float:left;width:40px;}
	.dis_box .avatar img{width:40px;height:40px;border:1px #ccc solid;padding:1px;background:#fff;vertical-align:top;}
	.dis_box .avatar2{float:right;width:40px;padding:0;margin-right:10px;display:inline;}
	.dis_box .avatar2 img{width:40px;height:40px;border:1px #ccc solid;padding:1px;vertical-align:top;background:#fff;}
		
	.dis_box .w600{width:248px;}
	.dis_box .w540{width:245px;}
	.dis_box .reply{float:right;}
	.dis_box .reply span{font-size:13px;padding-right:10px;}
	.dis_box .reply .authorname{font-weight:bold;}
	.dis_box .reply .reply_button{cursor:pointer;display:none;color:#669900;}
	.dis_box .reply .date{color:#999;}
	.dis_box .reply p{margin:0;padding:5px 10px 0 0;line-height:22px;word-break:break-all;}
	.pl40{padding-left:60px;}
	.t10{margin-top:10px;}
	.clear_comment{height:0;line-height:0;overflow:hidden;clear:both;}
	.clear10_comment{height:10px;overflow:hidden;clear:both;}
	.leave_reply{border:1px #eee solid;border-right:1px #D9D4D4 solid;border-left:1px #D9D4D4 solid;border-bottom:1px #ccc solid;}
	.leave_reply .lcontent{width:277px;overflow:auto;height:100px;margin:10px 0 10px 10px;}
	.leave_reply .c_bottom{width:100%;}
	.leave_reply .c_bottom .tag{float:left;display:inline;width:180px;height:30px;margin-left:10px;line-height:34px;padding-left:5px;background:url(../images/eggs/icons_egg.gif) no-repeat 0 -2px;}
	.leave_reply .c_bottom .submit{margin:0 10px 10px 0;float:right;padding:0;}
	
/*
form
******/
.item_h{clear:both;border-bottom:1px #eee solid;padding:10px 15px 15px 15px;}
.item{overflow:hidden;padding:15px 0 15px 15px;border-bottom:1px #eee solid;width:100%;}
	.item .label{width:80px;float:left;height:28px;line-height:30px;}
	.item .label span{color:#FF0000;}
	.item .item_info{width:680px;float:left;overflow:hidden;line-height:30px;}

	.item .item_info .w300{width:300px;}
	.item .item_info .help{color:#999;line-height:30px;text-align:left;padding:0;}
	.item .item_info .in{padding:4px;}
	.item .item_info .text{width:300px;height:60px;}
	
/*
 * common
 */
.small_button,.small_button_hover{width:85px;height:30px;padding:0;line-height:30px;border:none;color:#fff;}
.small_button{background:url(../images/common/icons_dialog.png) no-repeat 0 0;}
.small_button_hover{background:url(../images/common/icons_dialog.png) no-repeat 0 -40px;}
	
/*
dialog
*********/
#t_dialog{position:absolute;width:240px;left:50%;top:50%;border-radius:4px 4px;padding:6px;z-index:999;background:url(../images/space/bg_dialog.png) repeat 0 0;}
	#t_dialog .box{background:#fff;border:1px #000 solid;}
    #t_dialog .box .box_top{text-align:left;padding-left:10px;height:30px;line-height:30px;background:url(../images/common/icons_dialog.png) repeat-x 0 -90px;border-bottom:1px #ccc solid;}
    #t_dialog .box .box_top span{float:left;}
    #t_dialog .box .box_top .close_dialog,.close_dialog_hover{cursor:pointer;float:right;margin:7px 10px 0 0;width:15px;height:15px;}
    #t_dialog .box .box_top .close_dialog{background:url(../images/common/icons_dialog.png) no-repeat 0 -140px;}
    #t_dialog .box .box_top .close_dialog_hover{background:url(../images/common/icons_dialog.png) no-repeat 0 -170px;float:right;}
    #t_dialog .box .item_box{overflow:hidden;padding:10px 0 0 0;}
    #t_dialog .box .item_box textarea{width:90%;padding:4px;overflow:auto;}
    #t_dialog .box .item_box .small_button,.small_button_hover{padding:0;float:right;margin-right:10px;margin-bottom:10px;}
	
/*common*/
.warm{border:1px #FF6600 solid}