/*common*/
.warm{border:1px #FF6600 solid}
body{background:#f9f9f9}

/*
 * notice
 */
.dear{background:url(../images/common/angle_bg.gif) no-repeat 4px 1px #FFFACD;border:1px #FFEC8B solid;height:40px;line-height:40px;padding-left:80px;color:#CC3300;}
.dear p{line-height:40px;}

/*
left menu
***************/
.menubox{width:140px;overflow:hidden;font-size:14px;}
	.my_avatar{text-align:center;margin-top:10px;}
	.my_avatar img{width:110px;padding:3px;border:1px #e1e1e1 solid;background:#fff;}
	.lmenu{padding:15px 0;}
	.lmenu li{margin-left:10px;line-height:42px;text-align:left;padding-left:38px;margin-right:6px;}
	.lmenu li span{background:#FF9900;color:#fff;padding:0 5px 0 5px;margin-left:10px;}
	.lmenu .home{background:url(../images/common/icons.gif) no-repeat 15px 11px;}
	.lmenu .my_pro{background:url(../images/common/icons.gif) no-repeat 15px -668px;}
	.lmenu .fav_pro{background:url(../images/common/icons.gif) no-repeat 15px -69px;}
	.lmenu .fav_lab{background:url(../images/common/icons.gif) no-repeat 15px -708px;}
	.lmenu .myfriends{background:url(../images/common/icons.gif) no-repeat 15px -109px;}
	.lmenu .find{background:url(../images/common/icons.gif) no-repeat 15px -628px;}
	.lmenu .func{background:url(../images/common/icons.gif) no-repeat 15px -149px;}
	.lmenu .current{border-top:1px #e1e1e1 solid;border-left:1px #e1e1e1 solid;border-bottom:1px #e1e1e1 solid;margin-right:0;}
	.lmenu .cur_home{background:url(../images/common/icons.gif) no-repeat 15px 11px #fff;}
	.lmenu .cur_my_pro{background:url(../images/common/icons.gif) no-repeat 15px -668px #fff;}
	.lmenu .cur_fav_pro{background:url(../images/common/icons.gif) no-repeat 15px -69px #fff;}
	.lmenu .cur_fav_lab{background:url(../images/common/icons.gif) no-repeat 15px -708px #fff;}
	.lmenu .cur_myfriends{background:url(../images/common/icons.gif) no-repeat 15px -109px #fff;}
	.lmenu .cur_find{background:url(../images/common/icons.gif) no-repeat 15px -628px #fff;}
	.lmenu .cur_func{background:url(../images/common/icons.gif) no-repeat 15px -149px #fff;}
	.lmenu .invite{background:url(../images/common/icons.gif) no-repeat 15px -229px }
	.lmenu .cc{background:url(../images/common/icons.gif) no-repeat 17px -188px }
	
	.point{width:100%;clear:both;height:40px;}
	.point ul{margin:10px 0 0 10px;}
	.point ul li{float:left;padding:0 10px 0 10px;width:44px;}
	.point ul li strong{font-family: Georgia, serif;}
	.point ul .liner{border-right:1px #e1e1e1 solid;}
	.point ul .linel{border-left:1px #fff solid;}
	.point ul li span{display:block;padding:5px 0 2px 0;cursor:pointer;position:relative;}
	.point ul li span .point_list{width:90px;overflow:hidden;position:absolute;left:-10px;top:24px;border:1px #ccc solid;background:#fff;}
    .point ul li span .point_list ul{margin:5px 10px;}
    .point ul li span .point_list ul li{float:none;width:100%;padding:2px 0 2px 0;}
	.point ul li .pl{background:url(../images/common/icons.gif) no-repeat 32px -549px;}
/*
main body
*************/
#space_container{background:url(../images/space/bg_menu.png) repeat-y -28px 0 #fff;border:1px #eee solid;}
.space_line{width:821px;float:right;margin-right:1px;overflow:hidden;height:0;border-top:1px #D7D7D7 solid;border-bottom:1px #eee solid;}
.space_shadow_top{width:821px;float:right;margin-right:1px;overflow:hidden;height:0;border-bottom:1px #e1e1e1 solid;}
.mid,.userinfo{width:598px;text-align:left;}
.full{width:810px;}
	/*common form*/
	.data{}
	.data h4{padding-left:14px;background:#F2F2F2;line-height:28px;height:28px;font-size:13px;border-top:2px #87C442 solid;color:#87C442}
	.data dl{padding-left:5px;clear:both;overflow:hidden;}
	.data dt{float:left;padding:15px 20px 15px 0;width:80px;text-align:right;line-height:28px;color:#666;}
	.data dd{text-align:left;line-height:28px;padding:15px 20px 15px 0;}
	.data .dl_mem{margin:0;padding:0;}
	.data .dt_mem{line-height:28px;color:#666;padding:5px 20px 5px 0;color:#87C442;}
	.data .dd_mem{line-height:28px;padding:5px 20px 5px 0;}
	.data input{padding:5px;}
	.data input,select{vertical-align:middle;border:1px #ccc solid;}
	
	.data textarea{font:12px Arial, Helvetica, sans-serif;overflow:auto;border:1px #ccc solid;}

	.data .submit,.button{font-size:14px;border:none;padding:0;}
	.data .submit{width:120px;height:42px;line-height:42px;}
	.data .submit:hover{}

	.data .sbutton{width:120px;height:42px;line-height:42px;}
	.data .sbutton:hover{}
	
	.data .check{border:none;background:none;}
	.data .button{font-size:13px;background:#F2F2F2;border:1px #CCC solid;height:28px;line-height:22px;width:70px;padding:0;margin:4px 2px;}
	.data #notice{border:1px #ccc solid;margin:0 20px;}
	.data #notice dt{padding:0 0 0 20px;text-align:left;width:100px;}
	.data #notice dd{padding:0;}
	
	/*create project form*/
	.pl20{padding-left:20px;}
	.pr20{padding-right:20px;}
	.item{overflow:hidden;padding-bottom:15px;padding-top:15px;width:100%;border-bottom:1px #eee solid;}
	.item .label{width:80px;float:left;height:28px;line-height:30px;}
	.item .label span{color:#FF0000;}
	.item .item_info{width:680px;float:left;overflow:hidden;line-height:30px;}

	.item .item_info .w300{width:300px;}
	.item .item_info .help{color:#999;line-height:30px;text-align:left;padding:0;}
	
	

	
	/*for index*/
	#mymess, #skills, .spacecol,.user_info,.short_intro{margin:20px 20px 0 20px;}
	
	.user_info{height:35px;line-height:35px;}
	.user_info h2{float:left;}
	.user_info span{display:block;float:left;color:#999;}
	.user_info .user_mess{padding-left:25px;}
	.user_info .user_score{padding-left:10px;font-size:18px;font-family: Georgia, serif;color:#FF9900;font-style: italic;}
	.user_info .talk{float:right;width:180px;}
	.user_info .talk .btn{display:block;width:77px;height:27px;line-height:27px;font-size:14px;text-align:center;float:right;cursor:pointer;}
	.user_info .talk a{text-decoration:none;}
	.user_info .talk .focus{background:url(../images/space/icons_space.png) no-repeat 0 -200px;color:#fff;}
	.user_info .talk .focus:hover{background:url(../images/space/icons_space.png) no-repeat 0 -230px;}
	.user_info .talk .grey{background:url(../images/space/icons_space.png) no-repeat 0 -260px;color:#444;margin-left:10px;}
	.user_info .talk .grey:hover{background:url(../images/space/icons_space.png) no-repeat 0 -290px;}
	
	.short_intro{word-break:break-all;border-radius:2px;border-top:1px #eee solid;border-left:1px #eee solid;border-right:1px #e1e1e1 solid;border-bottom:1px #e1e1e1 solid;background:#F9F9F9;position:relative;z-index:1;padding:10px 10px 5px 10px;line-height:22px;}
    .short_intro p{padding-bottom:10px;word-break:break-all;}
    .short_intro .base_info{border-top:1px #eee solid;padding-top:5px;color:#999;}
    .short_intro .base_info span{margin-right:15px;}
	.short_intro .j{position:absolute;left:20px;top:-11px;width:20px;height:11px;background:url(../images/space/icons_index.gif) no-repeat 0 -728px;}
	
    /*share&msg*/
   .text_center{margin:20px;}
        .text{width:546px;height:60px;border:1px #ccc solid;background:#fff;font-size:14px;border-radius:2px;}
        .text_top{width:100%;overflow:hidden;padding-bottom:10px;}
        .text_top h2{float:left;font-size:16px;font-weight:normal;font-family:'MicroSoft YaHei', SimHei}
        .text_top .r{float:right;width:180px;text-align:right;color:#e1e1e1;}

        .text_bottom{width:100%;padding:5px 0 0 0;overflow:hidden;font-size:14px;}
        .text_bottom .check_tab{cursor:pointer;display:block;float:left;height:22px;line-height:22px;padding:2px 5px 2px 20px;margin-left:10px;}
        .text_bottom .check_tab_on{cursor:pointer;}
        .text_bottom .little_button{float:right;text-align:center;cursor:pointer;}
        #myf{margin-left:20px;background:url(../images/common/icons.gif) no-repeat 84px -549px;padding-right:20px;}
        .select{background:#f2f2f2;background:url(../images/space/icons_space.png) no-repeat -118px -200px #f2f2f2;}
        .unselect{background:none;}
        #weixin{background:url(../images/common/icons.gif) no-repeat 2px -397px;}
        #share{background:url(../images/common/icons.gif) no-repeat 2px -475px;}
        #new{background:url(../images/common/icons.gif) no-repeat 2px -435px;}
        .list_tab{width:15px;height:25px;background:url(../images/common/icons.gif) no-repeat 2px -575px;display:block;float:left;cursor:pointer;}
        .list_tab:hover{background:url(../images/common/icons.gif) no-repeat 2px -602px}
        
        #friends_list{overflow:hidden;width:100%;padding:0 0 5px 0;text-align:left;}
        #friends_list ul{line-height:28px;}
        #friends_list ul li{padding-left:30px;cursor:pointer;}
        
        #attention_eggs{overflow:hidden;width:100%;padding:0 0 5px 0;text-align:left;}
        #attention_eggs ul{line-height:28px;}
        #attention_eggs ul li{padding-left:30px;cursor:pointer;}
        
        #joinpro{overflow:hidden;width:100%;padding:0 0 5px 0;text-align:left}
        #joinpro ul{line-height:28px;}
        #joinpro ul li{padding-left:30px;cursor:pointer;}
        
       
        
	
	.spacecol{padding:10px 0}
	.spacecol h3{background:url(../images/space/bg.png) repeat-x 0 -50px #f9f9f9;border:1px #eee solid;border-bottom:1px #e1e1e1 solid;font-size:14px;padding:10px;}
	.spacecol h3 span{padding-left:20px;font-size:12px;color:#999;font-weight:normal;}
	
	.spacecol .dl{padding:10px 0 10px 0;clear:both;overflow:hidden;}
	.spacecol .dt{font-weight:bold;float:left;line-height:22px;padding:0 10px 0 0;width:80px;text-align:right;border:1px #fff solid;}
	.spacecol .dd{text-align:left;border:1px #fff solid;line-height:22px;width:415px;float:right;padding:0;}
	.spacecol .score{height:4px;background:#87C442;}
	
	
	.spacecol .rainbow{border:1px #e1e1e1 solid;padding:4px;height:38px;margin:20px 0 0 0;clear:both;width:0px;overflow:hidden;}
	.spacecol .rainbow .myskill{height:38px;line-height:38px;float:left;color:#fff;text-align:center;}
	
	
	.spacecol .color0{background:#FF9900;}
	.spacecol .color1{background:#FFCC00;}
	.spacecol .color2{background:#8AD12E;}
	.spacecol .color3{background:#6699CC;}
	.spacecol .color4{background:#336699;}


	.spacecol .fcolor0{color:#FF9900;}
	.spacecol .fcolor1{color:#FFCC00;}
	.spacecol .fcolor2{color:#8AD12E;}
	.spacecol .fcolor3{color:#6699CC;}
	.spacecol .fcolor4{color:#336699;}
	
	/*for common menu*/
	.user_list_intro, .pages, .project_list_box{margin:20px;}
	
	.tab_msg{margin:30px 20px 0 20px;clear:both;overflow:hidden;border:1px #fff solid;}
	.tab_msg span{float:left;padding:5px 10px 5px 10px;margin-right:10px;cursor:pointer;}
	.tab_msg .msg_b{background:#f2f2f2;border-radius:3px 3px;}
	
	/*userlist & projectlist*/
	.user_list_intro{border-bottom:1px #eee solid;clear:both;overflow:hidden;padding-bottom:20px;}
	.user_list_intro .avatar{float:left;width:54px;}
    .user_list_intro .avatar img{width:50px;border:1px #e1e1e1 solid;padding:2px;}
    .user_list_intro .user_list_info{float:right;width:490px;line-height:22px;}
    .user_list_intro .user_list_info .name{font-weight:bold;}
	
	.project_list_box{border-bottom:1px #eee solid;overflow:hidden;padding-bottom:20px;}
	.project_list_box .avatar{float:left;width:380px;padding:5px 10px 5px 0;font-size:14px;}
	.project_list_box .avatar .counter{font-family: Impact, Charcoal, sans-serif;margin-right:10px;color:#999;font-size:15px;font-style: italic;}
	.project_list_box .edit{float:right;background:#F2F2F2;padding:5px 10px;color:#ccc;width:55px;text-align:center;}
	.project_list_box .edit a{color:#666;}
	
	
	
	
	/*pages counter*/
	.pages{padding:10px 0;overflow:hidden;clear:both;}
	.pages ul{}
	.pages ul li{float:left;;padding:0;margin-right:10px;border:1px #ccc solid;background:#fff}
	.pages ul .current_page{background:#66CC00;border:1px #669900 solid;color:#fff;padding:3px 6px 3px 6px;}
	.pages ul li a{padding:3px 6px 3px 6px;display:block;}
	.m0{margin:0;}
	
	/*user information form*/
	.userinfo .tablist{border-bottom:3px #85CF28 solid;height:30px;margin:20px 20px 0 20px;}
	.userinfo .tablist li{float:left;width:100px;height:30px;line-height:30px;color:#999;text-align:center;}
	.userinfo .tablist li a{color:#999;text-decoration:none;}
	.userinfo .tablist .current{background:#85CF28;color:#fff;font-weight:bold;}
	.userinfo .info_notice{margin:0 20px 0 20px;height:34px;line-height:34px;border:1px #eee solid;background:url(../images/space/bg.png) repeat-x 0 -50px #f9f9f9;}
	.userinfo .info_notice span{;background:url(../images/space/icons_index.gif) no-repeat 15px -750px;padding-left:40px;}
	.userinfo .info_item{clear:both;overflow:hidden;margin:20px;padding:5px 0 5px 0;}
	.userinfo .info_item .info_label{float:left;width:14%;text-align:right;}
	.userinfo .info_item .info_content{float:left;width:82%;margin-left:10px;}
    .userinfo .small_button{float:left;padding:0;border:none;}
    .userinfo .small_button_hover{float:left;padding:0;border:none;margin:0;}
    .userinfo .info_item .info_content .input{padding:5px;}
    .userinfo .info_item .info_content textarea{font-size:13px;padding:5px;width:340px;height:90px;}
    .userinfo .info_item .info_content .info_warm{background:url(../images/icons_reg.png) no-repeat 15px -173px;padding-left:40px;}
    .ask_item{}
    .ask_item textarea{width:490px;height:40px;text-align:left;}
	
	.userinfo #photo{margin:20px;float:right;width:120px;height:120px;}
	.userinfo #photo .space_photo{}
	
	.userinfo .pic_form{margin:20px 0 0 20px;float:left;width:410px;}
	.userinfo .pic_form img{}
	.userinfo .pic_form .select{margin-left:10px;padding:4px;}
	
	.form_title{margin:20px 20px 20px 0px;clear:both;background:url(../images/cate/bg_project_index.png) repeat-x 0 -97px;border-left:1px #ccc solid;height:36px;overflow:hidden;}
    .form_title span{cursor:pointer;font-weight:bold;color:#666;display:block;border-top:1px #ccc solid;border-right:1px #ccc solid;width:120px;text-align:center;}
    .form_title .normal{background:url(../images/cate/bg_project_index.png) repeat-x 0 -151px #ECECEC;line-height:34px;height:34px;}
    .form_title .current{height:36px;background:#fff;border-bottom:1px #fff solid;line-height:36px;background:url(../images/cate/bg_project_index.png) repeat-x 0 -201px;}
	
	
	
	/*comments*/
	.comments{}
	.comments li{border-bottom:1px #eee solid;padding:10px 0 10px 0;overflow:hidden;}
	.comment_box{overflow:hidden;}
	.comment_reply{padding:4px 0 4px 0;margin:4px 0 0 50px;background:#f9f9f9;border-right:1px #e1e1e1 solid;border-bottom:1px #e1e1e1 solid;border-left:1px #eee solid;border-top:1px #eee solid;}
	.comment_box .avatar{float:left;width:52px;}
	.comment_box .avatar img{width:50px;height:50px;border:1px #eee solid;padding:1px;}
	.comment_box .avatar2{float:left;width:40px;padding:0 0 0 4px}
	.comment_box .avatar2 img{width:40px;height:40px;border:1px #eee solid;padding:1px;}
	

	.comment_box .w600{width:495px;}
	.comment_box .w540{width:450px;}
	.comment_box .reply{float:right;}
	.comment_box .reply span{font-size:13px;padding-right:10px;}
	.comment_box .reply .reply_button{cursor:pointer;}
	.comment_box .reply .date{color:#999;}
	.comment_box .reply p{margin:0;padding:5px 10px 5px 0;line-height:22px;}
	.pl40{padding-left:60px;}
	.t10{margin-top:10px;}
	.clear_comment{height:0;overflow:hidden;clear:both;}
	.clear10_comment{height:10px;overflow:hidden;clear:both;}
	.leave_reply{clear:both;}
	.leave_reply .content{width:100%;margin-top:20px;}
	.leave_reply .content textarea{width:90%;height:80px;}
	.leave_reply .c_bottom{}
	.leave_reply .c_bottom .d_submit{margin:8px 40px 10px 0;padding:0;float:right;}

	/*notice list*/
	.notice{clear:both;margin:0;}
	.notice li{border-bottom:1px #eee solid;overflow:hidden;}
	
	.n_box{padding:10px;clear:both;}
		.n_box .n_title{font-size:14px;line-height:28px;cursor:pointer;}
		.n_box .date{font-weight:normal;color:#999;padding-left:20px;}
		.n_box .n_content{}
		.n_box .n_content p{line-height:22px;padding:10px 0 10px 0;}
		.n_box .n_button{cursor:pointer;margin-right:20px;}
		
	/*message list*/
	.space_tabs{margin:20px 20px 0 20px;padding:5px 5px 0 5px;overflow:hidden;clear:both;background:#f9f9f9;}
	.space_tabs ul{ }
	.space_tabs ul li{float:left;padding:8px 20px 8px 20px;color:#669900;cursor:pointer;}
	.space_tabs ul .current_tab{color:#444;background:#fff;border-top:1px #e1e1e1 solid;border-right:1px #e1e1e1 solid;border-left:1px #e1e1e1 solid;}
	
	.notice_list{font-size:14px;margin:0 20px 0 20px;}
	.notice_list li{}
	.notice_box{clear:both;width:100%;padding:20px 0 20px 0;border-bottom:1px #eee solid;overflow:hidden;word-break:break-all;}
	.notice_box .n_avatar{float:left;width:54px;}
	.notice_box .n_avatar img{width:50px;}
	.notice_box .n_msg{float:right;width:495px;line-height:22px;}
	.notice_box .n_msg blockquote{word-break:break-all;font-size:13px;padding:10px;border-left:2px #eee solid;margin:10px 0 0 0;background:#f9f9f9;}
	.notice_box .n_msg ul{margin:10px 0 0 0;}
	.notice_box .n_msg .name{font-weight:bold;}
	
	.notice_box .n_msg .date{color:#999;font-size:13px;display:block;margin:10px 0 0 0;}
	
	/*questions*/
	.s_title{margin:20px 20px 0 20px;background:url(../images/space/bg.png) repeat-x 0 -50px #f9f9f9;border:1px #eee solid;border-bottom:1px #e1e1e1 solid;font-size:14px;padding:10px;}
	.s_title span{padding-left:20px;font-size:12px;color:#999;font-weight:normal;}
	.ask{margin:0 20px 0 20px;padding:20px 0 20px 0;border-bottom:1px #e1e1e1 solid;}
	.ask .question{font-size:14px;font-weight:normal;padding-bottom:20px;}
	.ask .finish{color:#669900;}
	.ask .question .icon{font-family: Impact, Charcoal, sans-serif;font-size:22px;margin-right:10px;font-style: italic;}
	.ask .answer{}
	
	/*check acount*/
	.doctor{margin:20px;border:1px #eee solid;padding:15px;}
	   .doctor .d_title{font-size:14px;padding-bottom:15px;position:relative;width:100%;}
	   .doctor .d_title .slide_button{position:absolute;right:0;top:0;cursor:pointer;}
	   .doctor .d_title .left_part{margin-right:10px;}
	   .doctor .finish_wrap{height:10px;background:#D5D5D5;border-radius:5px;overflow:hidden;}
	   .doctor .finish_wrap .finish_wrap_in{float:left;height:10px;background:#87C442;border-radius:5px;overflow:hidden;}
	   .doctor .doctor_info{padding-top:10px;overflow:hidden;width:100%;}
	   .doctor .doctor_info ul{}
	   .doctor .doctor_info ul li{padding:10px;padding-left:20px;position:relative;}
	   .doctor .doctor_info ul li span{position:absolute;display:none;right:10px;top:10px;}
	   .doctor .doctor_info ul li:hover{background:url(../images/space/icons_space.png) no-repeat -126px -247px #f9f9f9;}
	   .doctor .doctor_info ul .t{background:url(../images/space/icons_space.png) no-repeat -126px -197px;}
	   .doctor .doctor_info ul .f{background:url(../images/space/icons_space.png) no-repeat -126px -287px;}
	
	/*noting*/
	.nothing{margin:20px;padding:60px 0 60px 200px;background:url(../images/common/angle_nothing.gif) no-repeat 80px 40px;line-height:40px;}
	
	 
/*
right sidebar
**************/
.sidebar{float:right;width:220px;height:100%;border-left:1px #eee solid;text-align:left;background:#F2F8DE;border-left:1px #e1e1e1 solid;}
.sidebar h3{text-align:left;}
    .c{width:100%;border-bottom:1px #e1e1e1 solid;}
    .c img{margin:15px 0 0 15px;}
    .c p{margin:10px 0 15px 15px;}

    .publish{border-top:1px #fff solid;border-bottom:1px #e1e1e1 solid;clear:both;padding-bottom:15px;}
    .publish .new_egg{padding:15px 15px 0 15px;}
    .publish .new_egg a{display:block;width:142px;height:37px;background:url(../images/space/icons_space.png) no-repeat 0 0;}
    .publish .new_egg a:hover{background:url(../images/space/icons_space.png) no-repeat 0 -50px;}
    .publish .new_project{padding:15px 15px 0 15px;}
    .publish .new_project a{display:block;width:142px;height:37px;background:url(../images/space/icons_space.png) no-repeat 0 -100px;}
    .publish .new_project a:hover{background:url(../images/space/icons_space.png) no-repeat 0 -150px;}

	.sidebar_title{padding:10px 15px;border-top:1px #fff solid;clear:both;height:20px;}
	.sidebar_title h3{float:left;font-size:14px;color:#669900;}
	.sidebar_title span{float:right;}
	.new{padding:0 15px 15px 15px;width:218px;}
	.new .author{float:left;width:44px;height:44px;}
	.new .author img{width:42px;border:1px #e1e1e1 solid;padding:1px;}
	.new .new_info{float:right;width:164px;line-height:22px;height:46px;overflow:hidden;}
	
	.sidebar .infobox{clear:both;border-bottom:1px #e1e1e1 solid;border-top:1px #fff solid;}
	.sidebar .infobox h3{color:#669900;font-weight:bold;cursor:pointer;font-size:14px;display:block;padding:8px 20px 8px 15px;}
	.sidebar .infobox .close{background:url(../images/space/icons_index.gif) no-repeat 200px -640px;}
	.sidebar .infobox .open{background:url(../images/space/icons_index.gif) no-repeat 200px -680px;}
	.sidebar .infobox .slidebox{}
	
	.sidebar .infobox .slidebox p{margin:5px 15px 15px 15px;padding:8px;line-height:22px;background:#f9f9f9;border:1px #e1e1e1 solid;}
	.sidebar .infobox .slidebox .lab_name{border-bottom:1px #eee solid;padding-bottom:5px;margin-bottom:5px;color:#669900;display:block;clear:both;}
	.sidebar .infobox .slidebox .lab_article{display:block;clear:both;border-top:1px #eee solid;margin-top:5px;padding-top:5px;}
	.sidebar .infobox .slidebox .lab_add{padding-top:5px;display:block;clear:both;padding-left:24px;background:url(../images/space/icons_index.gif) no-repeat 0 -393px}
	.sidebar .infobox .slidebox .contact_list{margin:0 0 15px 15px;}
	.sidebar .infobox .slidebox .contact_list li{line-height:28px;}
	
	.sidebar .infobox .relative_pro{}
	.sidebar .infobox .relative_pro li{padding:10px 0 0 15px}
	.sidebar .infobox .relative_pro li img{width:210px;height:90px;padding:2px;}
	.sidebar .check_info{border-radius:3px 3px;border:1px #D8D8D8 solid;background:#fff;padding:10px 15px 10px 15px;margin:15px;background:url(../images/space/bg.png) repeat-x 0 -55px;}
	.sidebar .check_info img{float:left;margin-right:10px;}
	.sidebar .check_info p{margin:0;padding:0;}
	.sidebar .c_n{line-height:22px;padding:0 0 15px 35px;background:url(../images/space/icons_index.gif) no-repeat 15px -747px;border-bottom:1px #e1e1e1 solid;}

/*
 * footer
 */
#space_footer{width:960px;margin:0 auto;margin-top:20px;color:#444;text-align:left;}
    #space_footer a:link{color:#444;}
    #space_footer a:visited{color:#444;}
    #space_footer a:hover{color:#666;text-decoration:underline;}
    #space_footer .logo_footer{float:right;}
    #space_footer .l_f{float:left;width:500px;margin-left:40px;display:inline;}
    #space_footer .l_f p{padding:5px;}

/*
dialog
*********/
#t_dialog{position:absolute;width:400px;border-radius:4px 4px;left:50%;top:50%;padding:6px;_padding:0;z-index:999;background:url(../images/space/bg_dialog.png) repeat 0 0;}
	#t_dialog .box{background:#fff;border:1px #000 solid;}
	#t_dialog .box .box_top{text-align:left;padding-left:10px;height:30px;line-height:30px;background:url(../images/common/icons_dialog.png) repeat-x 0 -90px;border-bottom:1px #ccc solid;}
	#t_dialog .box .box_top span{float:left;}
	#t_dialog .box .box_top .close_dialog,.close_dialog_hover{cursor:pointer;float:right;margin:7px 10px 0 0;width:15px;height:15px;}
	#t_dialog .box .box_top .close_dialog{background:url(../images/common/icons_dialog.png) no-repeat 0 -140px;}
	#t_dialog .box .box_top .close_dialog_hover{background:url(../images/common/icons_dialog.png) no-repeat 0 -170px;float:right;}
	#t_dialog .box .item_box{overflow:hidden;padding:0;}
	#t_dialog .box .item_box textarea{width:92%;padding:4px;margin:10px;}
	#t_dialog .box .item_box .small_button,.small_button_hover{padding:0;float:right;margin-right:10px;margin-bottom:10px;}
	
#t2_dialog{position:absolute;width:400px;border-radius:4px 4px;left:50%;top:50%;padding:6px;z-index:999;background:url(../images/space/bg_dialog.png) repeat 0 0;}
    #t2_dialog .box{background:#fff;border:1px #000 solid;}
    #t2_dialog .box .box_top{text-align:left;padding-left:10px;height:30px;line-height:30px;background:url(../images/common/icons_dialog.png) repeat-x 0 -90px;border-bottom:1px #ccc solid;}
    #t2_dialog .box .box_top span{float:left;}
    #t2_dialog .box .box_top .close_dialog,.close_dialog_hover{cursor:pointer;float:right;margin:7px 10px 0 0;width:15px;height:15px;}
    #t2_dialog .box .box_top .close_dialog{background:url(../images/common/icons_dialog.png) no-repeat 0 -140px;}
    #t2_dialog .box .box_top .close_dialog_hover{background:url(../images/common/icons_dialog.png) no-repeat 0 -170px;float:right;}
    #t2_dialog .box .item_box{overflow:hidden;padding:0;}
    #t2_dialog .box .item_box textarea{width:92%;padding:4px;margin:10px;}
    #t2_dialog .box .item_box .small_button,.small_button_hover{padding:0;float:right;margin-right:10px;margin-bottom:10px;}

	
        
    